runs/detect/predict
runs/detect/predict2
runs/detect/predict3
runs/detect/predict4
runs/detect/predict5
runs/detect/predict6
runs/detect/predict8
runs/detect/predict9
runs/detect/predict10
runs/detect/predict11
runs/detect/predict12
results.ipynb
